*** Slaves ***

# Create a private 0600 file containing one alias:secret per slave.
# It is not included in the public repository.
secrets = /config/smokeping_secrets

+probe_sg
display_name=Example Probe SG
location=Example Probe SG
color=808080

+probe_jp
display_name=Example Probe JP
location=Example Probe JP
color=808080
